 <main>
        <div class="biblio-mini">

            <div class="mini-contenedor-img">
                <img src="{{imgDirec}}" alt="{{nombre}}">
            </div>

            <div class="text">
                <span class="titulo">
                    <h2>{{nombre}}</h2>
                </span>

                <p>
                    {{info1}}
                </p>
                <p> 
                    {{info2}}
                </p>
                    {{info3}}
                </p>
            </div>
        </div>
        
        <div class="subtitulo">
            <h2>Algunas de sus obras</h2>
        </div>

        <div class="contenedor">
            <img src="{{img1}}" alt="Retrato 1">
            <img src="{{img2}}" alt="Retrato 2">
            <img src="{{img3}}" alt="Retrato 3">
            <img src="{{img4}}" alt="Retrato 4">
            <img src="{{img5}}" alt="Retrato 5">
        </div>
    </main>